
<div>
<h2>Hello & Welcome to Luggish!</h2>

<h3> Meet the team </h3> 


<p><strong>Alice</strong> is a collaborative designer, full stack web developer and a student of craft!  </p>
	
<p><strong>Zehra</strong> has a passion for creative problem solving and enjoys building cool web apps! </p>
<p> Luggish is a travel lists customized to suit your every trip
<%= link_to "Luggish", root_path  %>
</p>
</div>
