
<h1>Hello & Welcome to Luggish!</h1>

<h2> Meet the team </h2> 

<p>Alice is a collaborative designer, aspiring front-end developer and a student of craft!  </p>
	
<p>	Zehra has a passion for creative problem solving and enjoys building cool web apps! </p>
<p> Travel lists customized to suit your every trip
<%= link_to "Luggish", root_path  %>
</p>
</div>