<div class="span12">
	<div class="span7" style="text-align: justify; font-size: 1.1em">
		<h1>Welcome to Luggish</h1><br>
		<p> Love traveling but never know what to pack? Ever get the feeling you left something behind?  Landed at your destination and realized you left your toothbrush at home or have too many shirts and no pants?</p>

		<p>Don’t fret, <em>Luggish</em> is the travel solution that caters to all your packing needs. Luggish creates custom-built lists to serve each of your traveling experiences. No more over-packing and forgetting essentials at home. We can reassure you that you will never leave anything behind again. <br></p>

		<p>Luggish focuses on making travel stress-free and alleviating the common pains and hassles of packing. Get to where you want with exactly what you want!</p>

		<h4>Let's get started and create a packing list!</h4>
		
	</div>
	<div class="span4" style="float:right;"><%= image_tag "luggish-logo.png", :class => 'brand' %></div>
</div>

