<div class="hero-unit">
	<div class="row">
	<div class="span3">
		<h2>Luggish Logo</h2>
	</div>
	<div class="span9">
		<h1>Welcome to Luggish</h1>
		<p><br>
			<%= link_to "Sign up Now!", "#", class: "btn btn-info btn-large"%>
		</p>
	</div>
	</div>
</div>
